<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary">
    <a class="navbar-brand" href="#"> <b> Repo Viewer</b> </a>
    <!-- Toggle navbar -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--Navbar content -->
    <div class="collapse navbar-collapse" id="navbarTop" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/dashboard"  routerLinkActive="active">Dashboard </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/history" routerLinkActive="active">Commit history</a>
        </li>
      </ul>
    </div>
</nav>