.commits-table{
    text-align: left;

    th{
        font-size: 1.2em;
        color: #455A64;
    }

    .accent{
        font-weight: 500;
    }
}

.cards-container{
    padding: 2rem 0;
}
.card-wrapper{
    margin-bottom:2rem;
}
