.container{
    padding-top: 2rem;
}
.media-body{
    display: inline-block;
    padding-left: 0.5rem;
}
.repo-avatar{
    max-width: 10rem;
}
.commit-message{
    white-space: pre-wrap;
}

@media (max-width: 480px) {
    .col-sm-12{
        margin-bottom: 1rem;
    }
    .container{
        padding-bottom: 1rem;
    }
}