<div class="container">
    <div class="card">
        <div class="card-body">
            <!-- Repo summary-->
            <div class="row mb-3">
                <div class="col">
                    <div class="media">
                        <img class="mr-3 rounded align-top repo-avatar" src="{{repo?.avatar ||'https://dummyimage.com/150x150/2b49c2/fff'}}" alt="Repo author avatar">
                        <div class="media-body">
                        <h1 class="mt-0">{{repo?.name | titlecase}}</h1>
                        <h3> <small class="text-muted">By @{{repo?.author}} </small> </h3>
                        <p class="lead">{{repo?.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Repo Dashboard details-->
            <div class="row">
                <!-- Branches and commits -->
                <div class="col-lg-6 col-sm-12">
                    <div class="card h-100">
                        <div class="card-header">
                            <h3 class="text-muted">General info</h3>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li class="lead">
                                    <h5>Created on: {{repo?.creationdate | date: 'mediumDate'}}</h5>
                                </li>
                                <li class="lead" >
                                    <h5>
                                        Last update: {{repo?.updatedat | date: 'mediumDate'}}
                                    </h5>
                                </li>
                                <li class="lead" >
                                    <h5>
                                        Url: <a href="{{repo?.link}}" target="_blank">{{repo?.link}}</a>
                                    </h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                <!-- Last commit -->
                <div class="col-lg-6 col-sm-12">
                    <div class="card h-100">
                        <div class="card-header">
                            <h3 class="text-muted">Latest commit</h3>
                        </div>
                        <div class="card-body">
                            <h6>Date: {{lastCommit?.date | date: 'mediumDate'}}
                                <span class="text-muted">Author: {{lastCommit?.author}}</span>
                            </h6>
                            <h6>{{lastCommit?.filesNumber}} file(s) affected</h6>
                            <p class="card-text">{{lastCommit?.message}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
</div>